{% extends "index.html" %}
    {% block title %}
        {{title}}
    {% endblock %}
 {% block nav %}
                <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a href="{{url_for("main")}}">Home</a></li>
                    <li role="presentation"><a href="{{url_for("contact")}}">Contact</a></li>
                    {% if session['access_token']%}
                    <li role="presentation"><a href="{{url_for("logout")}}">Logout</a></li>
                    {% else %}
                    <li role="presentation"><a href="{{url_for("connect")}}">Login</a></li>
                    {% endif %}
                </ul>
                {% endblock %}

{% block content %}
    <div class="page-header">
        <h1 class="page_h"> {{title[:-7]}} </h1>
     </div>

    {% if thumb %}
        {% set o = Older %}
        {% set n = Newer %}
        {% for i in thumb %}
            {% set outer_loop = loop %}
                <a href="{{photos[outer_loop.index-1]}}"><img src="{{i}}" class="image_test"/> </a>
        {% endfor %}
    {% endif %}

    {% if follows %}
        <div class="center">
        <table>
            {% for i in follows %}
            {% set outer_loop = loop %}
                <tr style="margin-bottom:10px;">
                    <td>
                        <div style="border-radius:100%;">
                        <a href="{{profile_images[outer_loop.index-1]}}">
                        <img src="{{profile_images[outer_loop.index-1]}}" class="image_test"/>
                        </a>
                        </div>
                    </td>

                    <td>
                        <h1><a href="/User/{{i}}/1">{{i}}</a></h1>
                    </td>
                </tr>
            {% endfor %}
        </table>
        </div>
    {% endif %}

    {% if page %}
        {% set prev_page = page+1 %}
        {% set next_page = page -1 %}

    {% set path = request.path[:-2] %}

    <div>
        {% if prev %}
        {% set o = Next %}
        {% set n = Previous %}
            <div style="float:right;">
                <h1><a href="{{path}}/{{prev_page}}/" class="btn btn-lg btn-success">Next</a></h1>
            </div>
        {% endif %}
        {% if next %}
            <div style="float:left;">
            <h1><a href="{{path}}/{{next_page}}/" class="btn btn-lg btn-success">Previous</a></h1>
            </div>
        {% endif %}
    </div>
    {% endif %}
{% endblock %}