{% extends "index.html" %}
    {% block title %}
        {{ title }}
    {% endblock %}

 {% block nav %}
                <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a href="{{url_for("main")}}">Home</a></li>
                    <li role="presentation"><a href="{{url_for("contact")}}">Contact</a></li>
                    {% if session['access_token']%}
                    <li role="presentation"><a href="{{url_for("logout")}}">Logout</a></li>
                    {% else %}
                    <li role="presentation"><a href="{{url_for("connect")}}">Login</a></li>
                    {% endif %}
                </ul>
                {% endblock %}

{% block content %}
<div class="fluid-container" align="center" style="margin-top:5%;">
    <form method="POST">
            <input type="text" name="query" placeholder="{{title}}" />
            <button type="submit" value="Login" class="btn btn-large btn-success" >
                Submit
            </button>
    </form>
    {% if error %}
        <h1>{{error}}</h1>
    {% endif %}

    {% if users %}
        <table>
        {% for i in users %}
            {% set outer_loop = loop %}
            <tr>
                <td>
                    <a href="{{user_profile_picture[outer_loop.index-1]}}">
                        <img src="{{user_profile_picture[outer_loop.index-1]}}" class="image_test">
                    </a>
                </td>
                <td>
                    <h1><a href="/User/{{i}}/1">{{i}}</a></h1>
                </td>
            </tr>
        {% endfor %}
        </table>
    {% endif %}
    {% if tags%}
        {% for i in tags %}
            <img src="{{i}}"/>
        {% endfor%}
    {% endif %}
</div>
{% endblock %}